input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/*.sidebar{*/
/*  position: relative;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  text-align: justify;*/
/*  background: linear-gradient(-45deg, #23A6D5, #23D5AB);*/
/*  background-size: auto;*/
/*  height: 100%;*/
/*  !*width: 30%;*!*/
/*  !*z-index: 1;*!*/
/*  !*top: 0;*!*/
/*  !*padding-top: 20px;*!*/
/*  !*overflow-x: hidden;*!*/
/*  !*margin-left: -30px;*!*/
/*  */
/*  display: grid;*/
/*  display: -ms-grid;*/
/*  float: left;*/
/*  grid-template-rows: minmax(100px, auto) minmax(10vmax, 2fr);*/
/*  -ms-grid-rows: minmax(100px, 1fr) minmax(10vmax, 2fr);*/
/*}*/

.sidebar{
    position: fixed;
    margin-left: -20px;
    padding: 20px;
    text-align: justify;
    background: linear-gradient(-45deg, #23A6D5, #23D5AB);
    background-size: auto;
    height: 100%;
    width: 30%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px
}

.info,#form {
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  padding:70px;
  margin-left: 300px;
  margin-top: 180px;
  width:600px;
  height: inherit;
  float: left;
  z-index: 1;
  overflow: scroll;

}
#clearfix{
    clear:both
}
h1{
  text-align: left;
  background-size: cover;
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: italic;
  padding-left: 30px;
  font-size: 50px;
  z-index:3;
}

p{
  font-family: 'Open Sans';
  font-size: 25px;
  width: 280px;
  padding-left: 50px;
  text-align: left;
  color:white;
  font-weight: bold;
}

/*.testFormat {*/
/*  text-align: left;*/
/*  background-size: cover;*/
/*  font-family: Helvetica;*/
/*  font-weight: 300;*/
/*  font-size: 17px;*/
/*  display: inline-block;*/
/*  float: left;*/
/*  clear: left;*/
/*  width: 250px;*/
/*}*/

label {
  text-align: left;
  background-size: cover;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 17px;
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
}

input[type=submit] {
  display: inline-block;
  float: right;
  background: linear-gradient(-45deg, #23A6D5, #23D5AB);
  border-radius: 15px;
  height: 75px;
  width:150px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 25px;
}

body  {
  overflow: scroll;
}

li {
  list-style-type: inherit;
  display: inline;
}

#bg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
}
#logo{
  position: fixed;
  top: 35px;
  left:35px;
  width: 200px;
  height: auto;
  z-index: ;
}

input[type=image]{
  float:right;
  height: 50px;
  width: auto;
  margin-bottom:-30px;
  padding-left: -50px;

}

#sel{
  color: #5f6266;
  text-shadow: .5px .5px #d6d6d6;
}

.info{
  height:541px;
  width: 747px;
  }

#button1{
  position: fixed;
  height: 160px;
  width: inherit;
  margin-left: 227px;
  margin-top: 260px;
  z-index: 2;
}
#button2{
  position: fixed;
  height: 125px;
  width: inherit;
  margin-left: 232px;
  margin-top: 380px;
  z-index: 2;
}
#button3{
  position: fixed;
  height: 100px;
  width: inherit;
  margin-left: 252px;
  margin-top: 490px;
  z-index: 2;
}
