{#{% extends "base_mike.html" %}#}
{% extends "base_elena.html" %}
{% load static %}

{% block content %}

    <img src="{% static 'images/HexaDissolve.png' %}" id="bg" alt="">

    <div class="sidebar">
        <h1>
            <img src="{% static 'images/quantifylogo.png' %}" id="logo" alt="">
        </h1>

        <p id="sel">
            Tell us about your business
        </p>
    </div>


    {% if messages %}
        {% for message in messages %}
            <h4>{{ message }}</h4>
            <hr>
        {% endfor %}
    {% endif %}


    <hr>


    {% for business in all_businesses %}
        <p>
            <a href="{% url 'individual_business' business.id %}">
                {{ business.businessName }}
            </a>
        </p>
    {% endfor %}


    <h4>
        <a href="{% url 'new_business' %}">
            Add a new business here
        </a>
    </h4>


{% endblock %}