{% load static %}

<html>
    <head>
        <title>Quantify</title>

        <link href="{% static 'normalizeOG-fromPH.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />

        <!--Style.css-->
        <link href="{% static 'elena_style.css' %}" rel="stylesheet" type="text/css">

        <!--Bootsrap.css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--Meta Description, For Search Engines-->
        <meta name="Description" content="Business grade report">

        <!--[if IE]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <img src="{% static 'images/HexaDissolve.png' %}" id="bg" alt="">

        <div class="sidebar">
            <h1>
                <img src="{% static 'images/quantifylogo.png' %}" id="logo" alt="">
            </h1>

            <br>


            <p id="sel">
                Tell us about your business
            </p>
            <img src="{% static 'images/button1.png' %}" id=button1 alt="tag1">

            <br>
            <p>Analysis</p>
            <img src="{% static 'images/button2.png' %}" id=button2 alt="tag2">

            <br>
            <p>Grade</p>
            <img src="{% static 'images/button3.png' %}" id=button3 alt="tag3">
        </div>


{#        <div class="sidebar">#}
{#            <h1>#}
{#                <img src="{% static 'images/quantifylogo.png' %}" id="logo" alt="">#}
{#            </h1>#}
{##}
{#            <br><br><br><br><br><br><br><br><br><br><br><br><br>#}
{##}
{#            <p id="sel">#}
{#                Tell us about your business#}
{#            </p>#}
{##}
{#            <br>#}
{#            <p>Analysis</p>#}
{#            <br>#}
{#            <p>Grade</p>#}
{#        </div>#}
{##}
{#        <img src="{% static 'images/button1.png' %}" id=button1 alt="tag1">#}
{#        <img src="{% static 'images/button2.png' %}" id=button2 alt="tag2">#}
{#        <img src="{% static 'images/button3.png' %}" id=button3 alt="tag3">#}

{#        <div class="info">#}
        <div style="padding-top:30px;padding-left:450px;">
            <form action="{% url 'new_business' %}" method="post">
                {% csrf_token %}

{#                {{ business_form }}#}



{#                {% for field in business_form %}#}
{#                    {{ field.errors }}#}
{##}
{#                    <li class="testFormat">#}
{#                        {{ field.label_tag }} {{ field }}#}
{#                    </li>#}
{#                {% endfor %}#}

                <table>
                    {% for field in business_form %}
{#                        {{ field.errors }}#}
                        <tr>
                            <td style="font-size: 20px;">{{ field.label_tag }}</td>
                            <td style="font-size: 20px;">{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <br>

                <input type="submit" value="Analyze" style="float:left; width:100px; height:50px;">
            </form>
        </div>

{#            <form id="form" action="connect.php" method="post">#}
{#                <label for="form-totalRev">Total Revenue:</label>#}
{#                <input name="totalRev" type="number" id="form-totalRev">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-priorRev">Prior Revenue:</label>#}
{#                <input name="priorRev" type="number" id="form-priorRev">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-cogs">Cost of Goods Sold:</label>#}
{#                <input name="cogs" type="number" id="form-cogs">#}
{#                <br><br>#}
{##}
{#                <label for="form-opExpenses">Operating Expenses:</label>#}
{#                <input name="opExpenses" type="number" id="form-opExpenses">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-cashBalance">Cash Balance:</label>#}
{#                <input name="cashBalance" type="number" id="form-cashBalance">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-cAssets">Current Assets:</label>#}
{#                <input name="cAssets" type="number" id="form-cAssets">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-cLiabilities">Current Liabilities:</label>#}
{#                <input name="cLiabilities" type="number" id="form-cLiabilities">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-ltLiabilities">Long Term Liabilities:</label>#}
{#                <input name="ltLiabilities" type="number" id="form-ltLiabilities">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-ownerSat">Owner Satisfaction:</label>#}
{#                <input name="ownerSat" type="number" id="form-ownerSat">#}
{#                <br><br>#}
{#                #}
{#                <label for="employeeSat">Employee Satisfaction:</label>#}
{#                <input name="employeeSat" type="number" id="form-employeeSat">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-newCustomers">New Customers:</label>#}
{#                <input name="newCustomers" type="number" id="form-newCustomers">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-startCustomers">Start Customers:</label>#}
{#                <input name="startCustomers" type="number" id="form-startCustomers">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-endCustomers">End Customers:</label>#}
{#                <input name="endCustomers" type="number" id="form-endCustomers">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-rewardsProgram">Rewards Program:</label>#}
{#                <input name="rewardsProgram" type="number" id="form-rewardsProgram">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-tInventory">Total Inventory:</label>#}
{#                <input name="totalInventory" type="number" id="form-tInventory">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-dInventory">Dead Inventory:</label>#}
{#                <input name="deadInventory" type="number" id="form-dInventory">#}
{#                <br><br>#}
{#                #}
{#                <label for="form-expansion">Expansion:</label>#}
{#                <input name="expansion" type="number" id="form-expansion">#}
{#                <br><br>#}
{#                #}
{#                <input type="submit" value="Analyze"/>#}
{#                <!--<input class="btn" type="image" src="/Applications/XAMPP/xamppfiles/htdocs/hackathon1/Buttonarrow.png" value="" onclick="window.location.href='/Applications/XAMPP/xamppfiles/htdocs/hackathon1/analysis.html';"/>-->#}
{#            </form>#}

    </body>
</html>
